.select-page {
    width: 50px;
    text-align: center;
}
.pagination li a input {
    padding: 0;
    margin: -5px 0;
}
.pagination li a {
    margin: -5px 0;
    font-size: 11px;
}
.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.datagrid-filter {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 3px;
}
